/* variables */

$displayfont: 'Montserrat', sans-serif;
$copyfont: 'Open Sans', sans-serif;

$nav-border-color: #e81937;

$jumbo-bg: url("../images/textured-bg.png");
$jumbo-color: #FFFFFF;
$jumbo-display: 24px;
$jumbo-copy: 18px;
$jumbo-padding: 10px;